
/* Para el titulo rincipal del blog.*/
.tituloBlog {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    border: 1px;
    color: DarkSlateGrey ;
    text-align: center;
}

h2{
    font-family: Courier New, Courier, monospace;
    font-size: 25px;
    margin: 20px;
    color: black;
}

ul,ol,dl {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    text-align: justify;
    color: black;
}

body{
    background: red;
}

#contenedor{ 
    width: 1000px;
    background-color: FireBrick;
}

.links{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin: 10px;
}

.caja {
    padding: 20px;
    margin: 10px;
    color: darkblue;
    border: solid 0.5px;
    background: lightskyblue;
}

.Descripcion{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-align: justify;
    color: black;
}

/* Para los parrafos*/
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    text-align: justify;
    color: black;
}

/* Selector universal (letra)*/
* {
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    /*background-color: Lavender ;*/
    /*background-image: */
}

#rojo{
    color: red;
}

.regresaIndice{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: right;
}