
/* Para el titulo rincipal del blog.*/
.tituloBlog {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: white;
    text-align: left;
}

body {
    background-image: url("fondoIndex.jpg");
}

/* Para los subtitulos del blog.*/
.subTitulosBlog {
    color:green;
}

/* Para los parrafos*/
p {
    text-align: justify;
    color: black;
}

/* Selector universal (letra)*/
* {
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    /*background-color: Lavender ;*/
    /*background-image: */
}

#rojo{
    color: red;
}

.regresaIndice{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: right;
}