.caja1 {
    background-color: yellow;
    z-index: 1;
    height: 100px;
    top: 200;
}

.caja2 {
    background-color: red;
    position: absolute;
    z-index: -1;
    left: 50px;
    top: 80px;
    height: 1000px;
}

.caja3 {
    background-color: blue;
}

.caja1, .caja2 {
    width: 100px;
} 